RHT_OCP4_MASTER_API=https://api.na45.prod.nextcle.com:6443
RHT_OCP4_WILDCARD_DOMAIN=apps.na45.prod.nextcle.com
RHT_OCP4_NEXUS_SERVER=nexus-common.apps.na45.prod.nextcle.com
RHT_OCP4_DEV_USER=bfreitag-de
RHT_OCP4_DEV_PASSWORD=24ef27f8696e43a694a9
RHT_OCP4_GITHUB_USER=berndfreitag
RHT_OCP4_QUAY_USER=bfreitag_de
